.nav {
    &__top {
        padding-top: rem(44px);
        padding-bottom: rem(44px);
        
        &_container {
            grid-template-columns: 200px 1fr 200px;
        }
    }

    &__tools {
        ul {
            font-size: 0;
            line-height: 0;
            margin-right: rem(-10px);
        }

        li {
            margin:  0 10px;
        }
    }

    &__bottom {
        background-color: rgba($black, 0.4);
    }

    &__list {
        padding: rem(12px 0);

        @include media-breakpoint-up(lg) {
            display: inline-flex;
        }
    }

    &__item {
        padding: rem(0 20px);
    }

    &__link {
        font-size: rem(17px);
        color: $white;
        font-weight: 700;
        letter-spacing: rem(0.75px);
    }
}