.header{
	&__promobar {
		padding-top: rem(12px);
		padding-bottom: rem(12px);

		background-color: $primary;
		color: $white;

		&-text {
			@include text(rem(12px), null, null, 500, rem(0.78px));
		}
	}

	&__social {
		@include media-breakpoint-up(lg) {
			@include center('vertical');
			right: rem(15px);
		}
	}
}
