.faq {
    background-color: $black;
    color: $white;
    padding: rem(100px 0 60px);

    &__inner {
        margin: 0 auto;
        // padding: rem(0 20px);
    }

    &__top {
        padding-bottom: rem(100px);
        text-align: center;

        h2 {
            font-size: rem(30px);
        }

        p {
            margin-top: rem(20px);
            font-weight: 700;
            color: $primary;
            font-style: italic;
        }
    }

    &-panel {

        &__head {
            position: relative;
            // padding: rem(15px 46px 15px 16px);
            padding: rem(15px 30px 15px 0);
            font-size: rem(18px);
            line-height: rem(30px);
            cursor: pointer;
            max-width: calc(100% - 32px);
            margin: 0 auto;
            border-bottom: 1px solid $white;
            
            @include media-breakpoint-up(xl) {
                max-width: rem(1060px);
            }
        }

        &__body {
            position: relative;
            z-index: 1;
            display: none;
            background-color: $white;
            color: $black;
            padding: rem(60px 0 80px);
            margin-top: -62px;

            h3 {
                margin-bottom: rem(30px);
                font-size: rem(30px);
                text-align: center;
            }

            p {
                line-height: 1.5;
            }

            p+p {
                margin-top: rem(20px);
            }
        }

        &__arrow {
            @include center(vertical);
            right: 0;
        }

        &__content {
            position: relative;
            padding: rem(0 16px);
            max-width: rem(1060px);
            margin: 0 auto;
        }

        &__close {
            position: absolute;
            right: rem(16px);
            bottom: rem(-50px);
            height: rem(30px);
            border: 0;
            padding: 0;
            background: transparent;
            transform: rotate(180deg);

            @include media-breakpoint-up(xl) {
                right: 0;
            }
        }

    }
}