.meats {
	padding-top: rem(100px);

	&__content {
		padding-top: rem(100px);
		grid-template-columns: repeat(2, 1fr);
		grid-gap: rem(18px);
	}
}

.meat-card {
	position: relative;

	&__caption {
		padding: rem(40px);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}

	&__title {
		font-size: rem(41px);
		color: $white;
		margin-bottom: rem(20px);
	}
}



.testimonial {
	padding-top: rem(100px);
	padding-bottom: rem(100px);

	&__review {
        margin-right: rem(60px);
        width: 50%;
        max-width: 548px;
        margin-left: auto;

		&-carousel {
            position: relative;
			padding: rem(24px 90px 54px);
			background-color: #f2f2f2;
			border-radius: rem(12px);
		}

		.swiper-button {
			@include center('vertical');

			&__prev {
				left: rem(12px);
			}

			&__next {
                right: rem(12px);
            }
		}
	}

	&-quote {
		position: relative;

		&__title {
			font-size: rem(29px);
			line-height: rem(34px);
			font-weight: 900;
			margin-right: rem(12px);
		}

		&__star {
			color: $primary;
		}

		&__text {
			@include text(rem(16px), rem(20px), null, null, rem(0.34px));
			margin-top: rem(20px);
		}

		&__subtitle {
			@include text(rem(20px), rem(24px), $primary, 500);
			font-style: italic;
			margin-top: rem(12px);
		}
	}

	&__content {
		display: flex;
	}

    &__featured {
        margin-top: rem(20px);

        &-subtitle {
            @include text(rem(10px), rem(16px), $primary);
            font-style: italic;
        }

        &-title {
            margin-top: rem(8px);
        }

        &-content {
            padding-left: rem(24px);
            margin-left: rem(24px);
            border-left: rem(1px) solid $black;
        }

        &-link {
            @include text(rem(13px), rem(16px));
            margin-top: rem(8px);
            padding-top: rem(6px);
            padding-bottom: rem(6px);
            height: rem(32px);
        }
    }

    &__picture {
        width: 50%;

        .swiper-button {
            @include center('vertical');
            z-index: 2;

            &__prev {
                left: 0;
            }

            &__next {
                right: 0;
            }
        }
    }
}
