//shop
.shop {
    padding: rem(80px 0 105px);

    &__top {
        margin-bottom: rem(27px);

        .selectric-shop-feature-selectric {
            @include media-breakpoint-up(lg) {
                width: 100%;
                max-width: rem(299px);
                margin-left: auto;
            }
        }

        .label,
        .selectric-items li {
            text-transform: capitalize;
        }

        .section-head__desc {
            max-width: rem(848px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__actions {
        margin-top: rem(102px);


        @include media-breakpoint-down(lg) {
            margin-top: rem(50px);
            flex-wrap: wrap;
        }
    }

    &-action {
        flex: 1;

        &:first-child .selectric-wrapper {
            min-width: rem(107px);

            @include media-breakpoint-up(lg) {
                display: inline-table;
            }
        }

        &:last-child {
            @include media-breakpoint-down(lg) {
                margin-left: rem(10px);
            }
        }
    }

    &__grid {
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: rem(40px 20px);
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: rem(56px 20px);
        }
    }


    &__load-btn-wrap {
        margin-top: rem(60px);

        @include media-breakpoint-up(lg) {
            margin-top: rem(130px);
        }
    }
}

//product-search
.product-search {
    @include media-breakpoint-down(lg) {
        order: -1;
        flex: 0 0 100%;
        margin-bottom: rem(10px);
    }

    @include media-breakpoint-up(lg) {
        flex: 1;
        margin: 0 30px;
    }

    .form-group {
        position: relative;

        @include media-breakpoint-up(lg) {
            width: 100%;
            max-width: rem(299px);
            margin: 0 auto;
        }
    }


    &__label {
        @include center(vertical);
        left: rem(5px);
        display: flex;
        width: rem(30px);

        svg {
            height: 100%;
        }
    }

    &__input {
        @include placeholder-color($black);
        padding: rem(6px 10px 6px 40px);
        width: 100%;
        height: rem(44px);
        border: rem(1px) solid $black;
    }
}