<article class="article">
    <a href="#">
        <picture class="article__img">
            <source media="(min-width: 992px)" src="{{ImgPathDesktop}}">
            <source media="(max-width: 991.98px)" src="{{ImgPathMobi}}">
            <img src="{{ImgPathDesktop}}"" alt=" {{title}}">
        </picture>
    </a>
    <div class="article__text">
        <p class="article__date">{{ArticleDate}}</p>
        <h3 class="article__title">{{ArticleTitle}}</h3>
        <p class="article__desc">{{ArticleDescription}}</p>
        <p class="article__desc">{{ArticleDescription-2}}</p>
        <a href="{{ArticleLink}}" class="btn btn-solid-primary">Read More</a>
    </div>
</article>
