<figure class="card">
    <a href="#">
        <picture class="card__img">
            <source media="(min-width: 992px)" src="{{ImgPathDesktop}}">
            <source media="(max-width: 991.98px)" src="{{ImgPathMobi}}">
            <img src="{{ImgPathDesktop}}"" alt="{{title}}">
        </picture>
    </a>
    <figcaption class="text-center card__caption">
        <h6 class="card__title"><a href="#">{{title}}</a></h6>
        <p class="card__category">{{category}}</p>
        <p class="card__price">from ${{price}}</p>
    </figcaption>
</figure>