<footer class="footer">
    <div class="container">
        <a href="#" class="footer__logo">
            <img src="../assets/images/logo.svg" alt="" width="300" height="111">
        </a>
        <div class="d-grid footer-widget">
            <div class="footer-widget__item">
                <h6 class="footer-widget__title">THE SHOP</h6>
                <ul class="footer-nav">
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Bundles</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Cuts</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Popular Cuts</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Seasonal</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Cuts for Pets</a></li>
                </ul>
            </div>
            <div class="footer-widget__item">
                <h6 class="footer-widget__title">ABOUT US</h6>
                <ul class="footer-nav">
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">The Family</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">The Ranch</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">The Cattle</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">The Meat</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Straight to Your Door</a></li>
                </ul>
            </div>
            <div class="footer-widget__item">
                <h6 class="footer-widget__title">ABOUT US</h6>
                <ul class="footer-nav">
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">HELPFUL LINKS</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Contact us</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Delivery</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Recipes</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Blog</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Cooking Guide</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">FAQ’s</a></li>
                </ul>
            </div>
            <div class="footer-widget__item">
                <h6 class="footer-widget__title">FARMERS MARKET</h6>
                <ul class="footer-nav">
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Locations</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Opening Times</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Events</a></li>
                    <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Sign in </a></li>
                </ul>
            </div>
            <div class="footer-widget__item">
                <h6 class="footer-widget__title">SIGN UP AND SAVE</h6>
                <div class="footer-newsletter">
                    <p class="footer-newsletter__desc">Subscribe to our newsletter and be the
                        rst to receive oers and promotions.</p>
                    <form action="#" class="footer-newsletter__form">
                        <input type="email" class="footer-newsletter__form-control" placeholder="Enter your email">
                        <button class="mail-icon"><svg width="24" height="16">
                                <use xlink:href="/assets/svgs/symbol/svg/sprite.symbol.svg#envelope"></use>
                            </svg></button>
                    </form>
                </div>
                <div class="footer-social">
                    <a class="footer-social__icon" href="#">
                        <svg width="25" height="25">
                            <use xlink:href="/assets/svgs/symbol/svg/sprite.symbol.svg#instagram"></use>
                        </svg></a>
                    <a class="footer-social__icon" href="#">
                        <svg width="32" height="26">
                            <use xlink:href="/assets/svgs/symbol/svg/sprite.symbol.svg#facebook"></use>
                        </svg></a>
                    <a class="footer-social__icon" href="#">
                        <svg width="32" height="26">
                            <use xlink:href="/assets/svgs/symbol/svg/sprite.symbol.svg#youtube"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>