<!-- Useful meta tags -->
<title>{{title}}</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="preload" href="./assets/fonts/CircularStd-Book.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/CircularStd-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/CircularStd-Bold.woff2" as="font" type="font/woff2" crossorigin>

<style>
    @font-face {
        font-family: 'Circular Std';
        src: url('./assets/fonts/CircularStd-Book.woff2') format('woff2'), url('./assets/fonts/CircularStd-Bold.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Circular Std';
        src: url('./assets/fonts/CircularStd-Medium.woff2') format('woff2'), url('./assets/fonts/CircularStd-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Circular Std';
        src: url('./assets/fonts/CircularStd-Bold.woff2') format('woff2'), url('./assets/fonts/CircularStd-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
</style>
<link rel="stylesheet" href="./assets/css/custom.min.css">