<header class="header">
    <div class="header__promobar">
        <div class="container-lg header__container">
            <p class="text-center header__promobar-text">FREE LOCAL DELIVERY / OR CLICK AND COLLECT</p>

            <ul class="social header__social">
                <li class="soical__item">
                    <a href="#" class="social__link">
                        <svg width="32" height="22">
                            <use xlink:href="assets/svgs/symbol/svg/sprite.symbol.svg#youtube">
                            </use>
                        </svg>
                    </a>
                </li>

                <li class="soical__item">
                    <a href="#" class="social__link">
                        <svg width="32" height="22">
                            <use xlink:href="assets/svgs/symbol/svg/sprite.symbol.svg#facebook">
                            </use>
                        </svg>
                    </a>
                </li>

                <li class="soical__item">
                    <a href="#" class="social__link">
                        <svg width="32" height="22">
                            <use xlink:href="assets/svgs/symbol/svg/sprite.symbol.svg#instagram">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="header__main">
        <div class="header__sticky">
            <nav class="nav">
                <div class="nav__top">
                    <div class="container-lg d-grid justify-content-between nav__top_container">
                        <div class="search">
                            <button class="reset search__icon" type="button" aria-label="search button">
                                <svg width="32" height="22">
                                    <use xlink:href="assets/svgs/symbol/svg/sprite.symbol.svg#search">
                                    </use>
                                </svg>
                            </button>
                        </div>

                        <div class="text-center nav__logo">
                            <a href="./index.html">
                                <img src="./assets/images/logo.svg" alt="Born and raised" width="300" height="111">
                            </a>
                        </div>

                        <div class="text-right nav__tools">
                            <ul class="d-inline-flex align-items-center">
                                <li>
                                    <a href="#">
                                        <svg width="29.08" height="30.56">
                                            <use xlink:href="assets/svgs/symbol/svg/sprite.symbol.svg#user">
                                            </use>
                                        </svg>
                                    </a>
                                </li>

                                <li>
                                    <button class="reset" type="button" aria-label="bag">
                                        <svg width="35" height="28">
                                            <use xlink:href="assets/svgs/symbol/svg/sprite.symbol.svg#bag">
                                            </use>
                                        </svg>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="text-center nav__bottom">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#" class="nav__link">SHOP</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">KNOW YOUR FARM </a></li>
                        <li class="nav__item"><a href="#" class="nav__link">INTERACT WITH US</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">FAQ’S</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>