<figure class="recipe-card">
    <a href="#">
        <picture class="recipe-card__img">
            <source media="(min-width: 992px)" src="./assets/images/{{filename}}">
            <source media="(max-width: 991.98px)" src="./assets/images/{{filename}}">
            <img class="object-cover" src="./assets/images/{{filename}}"" alt="recipe-img">
        </picture>
    </a>
    <figcaption class="text-center recipe-card__caption">
        <span class="recipe-card__time-stamp">{{time-stamp}}</span>
        <h6 class="recipe-card__title"><a href="#">{{title}}</a></h6>
        <a class="recipe-card__btn btn btn-oultine" href="#">SEE RECIPE</a>
    </figcaption>
</figure>