// Generate theme text colors
@each $color, $value in $colors {
    .text-#{$color} {
        color: $value !important;
    }
}

// display related classes
@each $brkpoint, $value in $media-break-points {
    @if $brkpoint == 'xs' {
        .d-none {
            display: none !important;
        }
        .d-block {
            display: block !important;
        }

        .d-flex {
            display: flex !important;
        }

        .d-inline-flex {
            display: inline-flex !important;
        }

        .d-inline-block {
            display: inline-block !important;
        }

        .d-grid {
            display: grid !important;
        }
    } @else {
        @include media-breakpoint-up($brkpoint) {
            .d-#{$brkpoint}-none {
                display: none !important;
            }
            .d-#{$brkpoint}-block {
                display: block !important;
            }

            .d-#{$brkpoint}-flex {
                display: flex !important;
            }

            .d-#{$brkpoint}-grid {
                display: grid;
            }
        }
    }
}
